/* styles.css */

/* Styling for the toolbar */
#toolbar {
    margin-bottom: 10px;
}

/* Styling for toolbar buttons */
#toolbar button {
    border: none;
    background-color: #ffffff;
    color: #333;
    padding: 8px 12px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling for font color picker */
#fontColorPicker {
    border: none;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}
